//colors
$white: #fff;
$black: #000;
$color_masala_approx: #3c3c3c;
$color_mountain_mist_approx: #969696;
$color_fuscous_gray_approx: #555;
$color_tapa_approx: #777;
$color_san_felix_approx: #005400;
$color_japanese_laurel_approx: #008400;

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4285em;
}

.garbage, .recycle, .food, .curb, .binSide, .dropoff, .caution, .hazard {
    padding-left: 50px;
    height: 40px;
    line-height: 40px;
    background-repeat: no-repeat;
}

.garbage {
    background-image: url('/cs/groups/public/documents/document/3_037295.gif');
}

.recycle {
    background-image: url('/cs/groups/public/documents/document/3_037296.gif');
}

.food {
    background-image: url('/cs/groups/public/documents/document/3_037294.gif');
}

.curb {
    background-image: url('/cs/groups/public/documents/document/3_037291.gif');
}

.binSide {
    background-image: url('/cs/groups/public/documents/document/3_037297.gif');
}

.dropoff {
    background-image: url('/cs/groups/public/documents/document/3_037292.gif');
}

.caution {
    background-image: url('/cs/groups/public/documents/document/3_037290.gif');
}

.hazard {
    background-image: url('/cs/groups/public/documents/document/3_037293.gif');
}

.no-js {
    #wdigNav #wdigContent #autoComplete {
        display: none;
    }
    #siteMap {
        display: block;
    }
}
a.btn {
    color: $white;
    display: block;
    width: 100%;
    padding: 0;
    &:hover {
        color: $white;
    }
    &:visited {
        color: $white;
    }
}

#wdigContent {
    padding-bottom: 2em;
    .icon {
        width: 4.1em;
        float: left;
        margin-right: .8em;
    }
    #mainpic {
        float: right;
        width: 100%;
    }
}

#promo {
    width: 100%;
    clear: both;
    p {
        background-color: $color_masala_approx;
        padding: 15px 0;
        margin-bottom: 0;
    }

    img {
        width: 100%;
        display: none;
    }
}

#wdigNav {
    padding: 0;
    a {
        text-decoration: none;
        color: $white;
        display: block;
        padding: 10px 20px;
    }
    ul {
        width: 100%;
        padding: 0;
        top: 0;
        > li {
            ul {
                background: $color_san_felix_approx;
            }
            > ul > li {
                display: none;
            }
            > ul li > a:hover {
                background: $color_japanese_laurel_approx;
            }
        }
    }
    li {
        list-style: none;
        border-bottom: 2px solid $black;
        font-weight: 700;
    }
    #start {
        left: 0;
        &:hover {
            cursor: pointer;
        }
        .selected {
            background: $black;
        }
        .top {
            background: $color_fuscous_gray_approx;
        }
        .hasChildren > a > .fa.fa-chevron-circle-down {
            display: inline;
            float: right;
            margin-top: 3px;
        }
        .active {
            left: 0;
        }
        > ul {
            background: $black;
            > li > a:hover {
                background: $color_tapa_approx;
            }
        }
    }
}

@media(min-width: 544px) {
    #wdigContent {
        #mainpic {
            width: 12em;
        }
    }
}

@media(min-width: 768px) {
    #wdigContent {
        #mainpic {
            width: 13em;
        }
    }
}

@media(min-width: 992px) {
    #wdigContent {
        #mainpic {
            width: 18em;
        }
        #promo {
            img {
                display: block;
            }
        }
    }
}

@media(min-width: 1200px) {
    #wdigContent {
        #mainpic {
            width: 21em;
        }
    }
}