//colors
$white: #fff;
$black: #000;
$color_light_blue_gray: #2e80a0;
$color_blue_gray: #546E7A;
$color_dark_blue_gray: #37474F;
$color_dark_gray: #777;
$color_masala_approx: #3c3c3c;

#footer {
    margin-top: .5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4285em;
}

.no-js {
    #wdig {
        #wdigNav, #wdigContent, #wdigSearch {
            display: none;
        }
    }
}

.js {
    #wdig {
        #wdigSiteMap {
            display: none;
        }
    }
}

a.btn {
    color: $white;
    display: block;
    width: 100%;
    padding: 0;
    &:hover {
        color: $white;
    }
    &:visited {
        color: $white;
    }
}

#content {
    .garbage, .recycle, .food, .curb, .binSide, .dropoff, .caution, .hazard {
        padding-left: 50px;
        min-height: 40px;
        padding-top: 10px;
        background-repeat: no-repeat;
    }

    .garbage {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037295.gif);
    }

    .recycle {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037296.gif);
    }

    .food {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037294.gif);
    }

    .curb {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037291.gif);
    }

    .binSide {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037297.gif);
    }

    .dropoff {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037292.gif);
    }

    .caution {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037290.gif);
    }

    .hazard {
        background-image: url(/cs/groups/public/@spu/documents/webproductionfile/3_037293.gif);
    }
}

#restartButton {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        color: $white;
        display: block;
        padding: 10px 20px;
    }
    ul {
        width: 100%;
        padding: 0;
        top: 0;
        > li > a:hover {
            background: $color_blue_gray;
        }
    }
    li {
        list-style: none;
        border-bottom: 2px solid $black;
        font-weight: 700;
    }
    .top {
        background: $color_light_blue_gray;
    }
}

#wdigFooter {
    margin-top: 100px;
    p {
        font-size: 16px;
    }
}

#wdigSearch {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 2.428571em;
    #items {
        width: 60.2%;
        min-height: 40px;
    }
    #goButton {
        padding: 0px 10px;
        min-height: 40px;
    }
}

#wdigContent {
    padding-bottom: 2em;
    .icon {
        width: 4.1em;
        float: left;
        margin-right: .8em;
    }
    #mainpic {
        float: right;
        width: 100%;
    }
}

#wdigAZ {
    h2 {
        background: $color_blue_gray;
        color: $white;
        padding: .2em 0em .2em .3em;
    }
    p {
        a.topLink {
            margin-left: 90%;
        }
    }
    p.alphabetList {
        text-align: center;
        font-weight: 600;
        line-height: 32px;
        font-size: 24px;
        letter-spacing: 3px;
    }
}

#wdigNav {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        color: $white;
        display: block;
        border-bottom: 2px solid $black;
        padding: 10px 20px;
    }
    ul {
        width: 100%;
        padding: 0;
        top: 0;
        > li {
            ul {
                background: $color_dark_blue_gray;
            }
            > ul > li {
                display: none;
            }
            > ul li > a:hover {
                background: $color_blue_gray;
            }
        } 
        > li > a:hover {
            background: $color_blue_gray;
        }
    }
    li {
        list-style: none;
        font-weight: 700;
    }
    #start {
        left: 0;
        &:hover {
            cursor: pointer;
        }
        .selected {
            background: $color_light_blue_gray;
        }
        .top {
            background: $color_light_blue_gray;
        }
        .hasChildren > a > .fa.fa-chevron-circle-down {
            display: inline;
            float: right;
            margin-top: 3px;
        }
        .active {
            left: 0;
        }
        > ul {
            background: $color_dark_blue_gray;
            > li > a:hover {
                background: $color_blue_gray;
            }
        }
    }
}

#promo {
    width: 100%;
    clear: both;
    p {
        background-color: $color_masala_approx;
        padding: 15px 0;
        margin-bottom: 0;
    }

    img {
        width: 100%;
        display: none;
    }
}

@media(min-width: 544px) {
    #wdigContent {
        #mainpic {
            width: 12em;
        }
    }
    #wdigSearch {
        #items {
            width: 77.5%;
        }
    }
}

@media(min-width: 768px) {
    #wdigContent {
        #mainpic {
            width: 13em;
        }
    }
    #wdigSearch {
        #items {
            width: 83.9%;
        }
    }
    #wdigAZ {
        p.alphabetList {
            line-height: inherit;
            font-size: inherit; 
            letter-spacing: 2px;
        }
    }
}

@media(min-width: 992px) {
    #wdigContent {
        #mainpic {
            width: 18em;
        }
        #promo {
            img {
                display: block;
            }
        }
    }
    #wdigSearch {
        #items {
            width: 83.4%;
        }
    }
}

@media(min-width: 1200px) {
    #wdigContent {
        #mainpic {
            width: 21em;
        }
    }
    #wdigSearch {
        #items {
            width: 84.6%;
        }
    }
}